%section.home-banner
  .container
    .columns
      .column
        = image_pack_tag "treehouse.png", class: "treehouse"
      .column.is-half.is-flex.is-align-items-center
        = image_pack_tag "cloud.png", class: "cloud"
        .section.banner-content
          %h1.title.is-1.has-text-white-bis.has-text-shadow
            Welcome to Clubhouse
          %h2.subtitle.is-4.has-text-white-bis.has-text-shadow
            A place to hang out and chat
          - unless user_signed_in?
            = link_to new_user_session_path, class: 'button is-success is-large has-text-weight-bold has-text-shadow' do
              %span.icon
                %i.fas.fa-door-open
              %span Climb in

%section.hero.home-footer.pt-6
  .hero-body
    .container
      .tile.is-ancestor
        .tile.is-parent
          .tile.is-child.box.homepage-infobox
            %span.icon.in-circle.tile-icon.has-text-white
              %i.fas.fa-users
            .has-text-centered.mt-4.mb-4
              %h2.title.pb-2
                Private Forum
              %p.subtitle
                Make proposals and hash out the details

        .tile.is-parent
          .tile.is-child.box.homepage-infobox
            %span.icon.in-circle.tile-icon.has-text-white
              %i.far.fa-comments
            .has-text-centered.mt-4.mb-4
              %h2.title.pb-2
                Live Chat
              %p.subtitle
                Chat with your teammates in real time

        .tile.is-parent
          .tile.is-child.box.homepage-infobox
            %span.icon.in-circle.tile-icon.has-text-white
              %i.fas.fa-globe-americas
            .has-text-centered.mt-4.mb-4
              %h2.title.pb-2
                Global Data
              %p.subtitle
                Multi-region deployments now available
