-# We should check that `user != current_user` here so we don't display feedback on *own* typing
- if user.present?
  %p.animate-flashing
    %b
      ="@#{user.username}"
    %span.has-text-grey
      is typing...
