- content_for(:navbar_classes){ "is-fixed is-fullwidth" }

.has-background-light.is-flex{style: "height: 100vh"}
  .container
    .messages-outer
      .messages-content{"data-controller": "scrolldown"}
        = render partial: "intersector"

        #messages.pt-4.pr-4.pl-4
          = render partial: "message", collection: @messages, as: :message

      .messages-footer.mb-5
        #typing

        = form_with model: Message.new do |f|
          .field
            = f.text_area :body, id: "message_input", class: "input textarea", rows: 2,
            data: { reflex: "input->MessageReflex#typing", controller: "messagebox" }
          .actions
            %button.button.is-success{ data: { reflex: 'click->MessageReflex#send' } }
              %span.icon
                %i.far.fa-paper-plane
              %span Send
