.has-background-light
  .container
    #messages
      - @messages.each do |message|
        = render partial: "message", locals: { message: message }

    #typing

    = form_with model: Message.new do |f|
      .field
        = f.text_area :body, class: "input textarea", rows: 4, data: { reflex: 'input->MessageReflex#typing' }
      .actions
        %a.button.is-success{ data: { reflex: 'click->MessageReflex#send' } }
          Send
