.card.mb-5
  .card-content
    .media
      .media-left.mr-2
        %span.icon.is-large
          %i.fas.fa-user-circle.is-size-2
      .media-content
        %p.has-text-weight-bold.is-size-3
          = comment.user.username
        -#%p.has-text-grey
        -#  = comment.created_at.strftime('%B %e')
    .content
      %p
        = comment.body
