@import "../styles/bulma.scss";
@import "../styles/animations.scss";
@import "../styles/utility.scss";

#flashes {
  .flash {
    width: 50%;
    position: fixed;
    z-index: 500;
    right: 25%;
    top: 1.5em;
    box-shadow: $box-shadow;
  }
}

.messages-outer {
  display: flex;
  flex-direction: column;
  height: 100%;

  .messages-content {
    //height: 20em;
    margin-top: 3.5em;
    overflow-x: scroll;
    background-color: $sky-blue;

    #messages {
      display: flex;
      flex-direction: column-reverse;

    }
  }

  .messages-footer {
    form {
      display: flex;
    }

    .field {
      flex-grow: 100;
    }

    .actions {
      padding: 0 0 1em 1em;
    }
  }
}

#typing {
  min-height: 2.5em;
  padding: 0.5em;
}

section.home-banner {
  background-color: $sky-blue;

  .columns {
    height: 30em;
    padding-top: 1em;
  }

  .column {
    padding-bottom: 0;
  }

  .treehouse {
    height: 100%;
    z-index: 20;
    position: relative;
  }

  .cloud {
    position: absolute;
    top: 2em;
    right: 0;
    z-index: 10;
  }

  .banner-content {
    z-index: 20;
  }
}

section.home-footer {
  background-color: $grass-green;
  margin-top: 0.7em;
}
