@import "bulma/bulma.sass";

//@import "@fortawesome/fontawesome-free/css/all.css";

#flashes {
  .flash {
    width: 50%;
    position: fixed;
    z-index: 500;
    right: 25%;
    top: 1.5em;
    box-shadow: $box-shadow;
  }
}

@keyframes fade-out-hide {
  0%   {opacity: 1; visibility: visible;}
  99%  {opacity: 0; visibility: visible;}
  100% {opacity: 0; visibility: hidden;}
}

.animate-hide-500 {
  animation: fade-out-hide 0.5s;
}

