.has-background-light.mb-5
  .container

    .level.mt-4.mb-4
      .level-left
        .level-item
          = render partial: "search_form"
      .level-right
        .level-item
          = link_to new_post_path, class: 'button is-success' do
            %span.icon
              %i.fas.fa-bullhorn
            %span New Post

    = render partial: "posts", locals: { posts: @posts }

    = render partial: 'shared/pagination', locals: { pagy: @pagy } if @pagy.pages > 1
