#flashes
  - flash_types.each do |alert|
    - if flash.send(:[], alert[:type]).present?
      .flash{ "data-controller": "flash" }
        %p.notification{ class: "#{alert[:type]} #{alert[:css_class]}" }
          %span.icon.mr-2
            %i{ class: "#{alert[:icon]}" }
          = send(alert[:type])
          %button.delete.mt-3.mr-3{ "data-action": "click->flash#close" }
